<section id="slider" class="carousel slide" data-ride="carousel" data-interval="5000">
  <div class="carousel-inner">
    <%- if @sliders.empty? %>
      <div class="carousel-item active">
        <%= image_tag 'sliders/slide_1.jpg', class: 'd-block w-100' %>
      </div>
    <% end %>
    <%= render @sliders %>
  </div>
</section>
