<% content_for :disable_breadcrumb, true %>
<%= render SliderComponent.new(id: 'slider', sliders: @sliders) %>
<% @blocks.each do |block| %>
<section class="block text-block">
  <%= sanitize block.content %>
</section>
<% end %>
<section id="night-market">
  <div class="container mt-5 mb-4">
    <div class="row flex-warp">
      <%= render GameComponent.with_collection(@games) %>
    </div>
  </div>
</section>
