<% content_for :disable_breadcrumb, true %>
<%= render SliderComponent.new(id: 'slider', sliders: @sliders) %>
<div class="container px-4 mx-auto mt-5 mb-4">
  <%= render BlockComponent.with_collection(@blocks) %>
</div>
<section id="night-market">
  <div class="container px-4 mx-auto mt-5 mb-4">
    <div class="space-y-4 lg:space-y-0 lg:mx-auto lg:grid lg:gap-4 lg:grid-cols-3">
      <%= render GameComponent.with_collection(@games) %>
    </div>
  </div>
</section>
