<div class="container mx-auto mt-10 mb-8">
  <h2 class="font-semibold text-2xl text-center">
    <%= @day.label %>
    <span class="block text-xl text-gray-500"><%= @day.date %></span>
  </h2>
  <table class="w-full mt-4 table-fixed">
    <thead class="hidden lg:table-header-group">
      <tr class="text-white bg-gray-800">
        <th class="w-48"></th>
        <% @rooms.each do |room| %>
          <th class="border border-white font-medium py-2"><%= room.name %></th>
        <% end %>
      </tr>
      <thead>
      <tbody class="block lg:table-row-group">
        <%= render partial: 'agendas/time', collection: @day.times, locals: { day: @day } %>
      </tbody>
  </table>
</div>
