<section class="container my-5 px-4 mx-auto block <%= component_type %>-block">
  <% if twitch_live? %>
    <iframe
      id="twitch-embed"
      class="border-0"
      src="https://player.twitch.tv/?channel=<%= strip_tags @block.content %>&parent=<%= request.host %>"
      height="480"
      width="100%"
      allowfullscreen>
    </iframe>
  <% else %>
    <div class="prose max-w-none break-words">
      <%= sanitize @block.content %>
    </div>
  <% end %>
</section>
