<section class="block <%= component_type %>-block">
  <div class="container mt-5 mb-4">
    <div class="col-12">
      <% if twitch_live? %>
        <iframe
          id="twitch-embed"
          src="https://player.twitch.tv/?<%= strip_tags @block.content %>&parent=<%= request.host %>"
          height="100%"
          width="480"
          allowfullscreen>
        </iframe>
      <% else %>
        <%= sanitize @block.content %>
      <% end %>
    </div>
  </div>
</section>
