<article class="flex my-8 after:conent-['']">
  <%= render NewsThumbnailComponent.new(news: @news, classes: 'mr-6 w-1/3') %>
  <div class="flex-1">
    <h1 class="font-semibold text-3xl text-red-500"><%= link_to @news.title, @news %></h1>
    <hr class="my-4">
    <div class="space-y-4">
      <%= sanitize truncate(@news.content, length: 150, escape: false) %>
      <p class="pt-2">
        <%= link_to t('.read_more'),@news, class: 'px-4 py-2 bg-red-500 text-white hover:bg-red-600' %>
      </p>
    </div>
  </div>
</article>
