<% cache [helpers.current_locale, @item] do %>
<article class="flex flex-col lg:flex-row my-4 p-6 border border-gray-300 rounded">
  <div class="mb-4 lg:mb-0 lg:mr-4 lg:w-1/4 text-center">
    <%= link_to image_tag(logo_url(:v1)), url, target: '_blank', class: 'inline-block w-full' %>
  </div>
  <div class="flex-1 space-y-4">
    <%= link_to url, target: '_blank', class: 'text-red-500 hover:text-red-700' do %>
      <h1 class="font-semibold text-xl"><%= name %></h1>
    <% end %>
    <%= simple_format @item.description %>
  </div>
</article>
<% end %>
