<section id="<%= @id %>" class="swiper" data-controller="carousel" data-carousel-options-value='<%= options.to_json %>'>
  <div class="swiper-wrapper">
    <%- unless @sliders.exists? %>
      <div class="swiper-slide">
        <%= image_tag 'sliders/slide_1.jpg', class: 'd-block w-100 swiper-lazy' %>
      </div>
    <% end %>
    <%= render SliderItemComponent.with_collection(@sliders) %>
  </div>
</section>
