<article class="flex flex-col mx-4 p-8 border-2 border-white text-center">
  <h1 class="mb-6 text-3xl font-semibold"><%= t("streaming.track_#{@track}.title") %></h1>
  <ul class="grow mb-6">
    <li><%= t("streaming.track_#{@track}.description") %></li>
  </ul>
  <div>
    <%= link_to t('streaming.watch_now'), @site.send("streaming_track_#{@track}_url"), class: 'inline-block px-8 py-3 rounded-full bg-white text-red-500', target: '_blank' %>
  </div>
</article>
