<% title t('.title') %>
<% breadcrumb :news_index %>
<section id="news">
  <div class="container mx-auto space-y-16">
    <%= render NewsListItemComponent.with_collection(@news) %>
  </div>
</section>
