<% title t('.title') %>
<% description t('.description') %>
<% breadcrumb :sponsors %>
<section id="sponsors" class="container px-4 mx-auto">
  <%= render PartnerGroupComponent.with_collection(@sponsor_levels) %>
  <%= render PartnerGroupComponent.with_collection(@partner_types) %>
</section>
