<section id="coc" class="container mx-auto my-8">
  <article>
    <header>
      <h1 class="my-4 font-semibold text-3xl">台北遊戲開發者論壇<span class="text-red-500">活動守則</span></h1>
    </header>
    <p class="my-4">
      所有參與本次論壇的聽眾、講者、贊助商代表與志工朋友們，均應同意遵守下列的行為規範。主辦單位對於本守則說明之事項，在本論壇過程中將確實執行。我們期望所有參與者共同合作，提供一個安全的環境給大家。
    </p>
    <h2 class="my-4 font-semibold text-2xl">需要協助？</h2>
    <p class="my-4">若要回報違反本守則之情事，或有與守則內容相關之疑義、建議等，請來信 <%= link_to "coc-help@tgdf.tw", "mailto:coc-help@tgdf.tw", class: 'underline text-red-500 hover:text-red-700' %>。</p>

    <h2 class="my-4 font-semibold text-2xl">守則內容</h2>
    <p class="my-4">騷擾包括了針對性別、性別認同與表現、年紀、性傾向、殘疾、外貌、體格大小、種族、文化、信仰（無論有無）、政治觀點、個人好惡或是採用技術的口頭冒犯言詞；於公共場所展示過度露骨或明顯帶有性暗示的圖片；故意恐嚇、跟蹤、騷擾式的拍照或攝影；持續干擾講座或是其他活動；不適當的肢體接觸；以及未經同意、過分的性關注。</p>
    <p class="my-4">與會者在被要求停止騷擾行為時，請即刻遵守並停止該行為。</p>
    <p class="my-4">贊助商代表也應遵守以上反騷擾的原則。贊助商不應運用過度露骨或明顯帶有性暗示的圖片、活動、或類似的內容。會議工作人員（包含志工）不應穿著過度暴露的制服或裝扮，或以其他方式營造帶有性暗示的環境。</p>
    <p class="my-4">如果參加者騷擾或挑釁他人，主辦單位會採取各種我們判斷適當的處置，包括警告或驅逐肇事者，並不予退費。</p>
    <p class="my-4">如果您被騷擾、發現有人被騷擾，或有任何其他疑慮，請立刻通知論壇工作人員。工作人員會配戴工作識別證，您也可以在大會服務台隨時找到我們。</p>
    <p class="my-4">我們很重視每一位與會者的參與。因此工作人員們都很樂意協助與會者聯絡現場保全人員，或地方執法單位以提供護送服務，或任何能夠讓受到騷擾的與會者在會議期間感到安全的協助。</p>
    <p class="my-4">我們希望所有的與會者不論在論壇現場，或任何與本論壇相關的社交活動、社群平台或線上媒體中，都能夠遵守上述規則。</p>

    <footer>
      <p class="my-4">This CoC is adapted from <%= link_to "http://confcodeofconduct.com/", "http://confcodeofconduct.com/", target: "_blank", class: 'underline text-red-500 hover:text-red-700' %> under a Creative Commons Attribution 3.0 Unported License.</p>
    </footer>
  </article>
</section>
