<% title t('.title') %>
<% description t('.description') %>
<% breadcrumb :agenda %>

<% if current_site.cfp_on_agenda_mode? %>
  <%= render ProposalFormComponent.new(src: current_site.cfp_form_url) %>
<% else %>
  <section id="agenda">
    <%= render AgendaComponent.with_collection(@days, rooms: @rooms) %>
  </section>
<% end %>
