.about {
  &__figure {
    position: relative;
    padding-top: 60%;

    overflow: hidden;

    img {
      position: absolute;

      top: 0;
      left: -50%;
      transform: translateX(-50%);

      max-width: 100%;
    }
  }
}
