.news {
  &__title {
    color: var(--pink);
  }

  &__separator {
    border: 0;
    border-bottom: 1px solid $gray-300;
  }

  &__body {
    h1 { font-size: 1.75em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.25em; }
    h4, h5, h6 { font-size: 1em; }

    img {
      max-width: 100%;
    }
  }

  &__read-more {
    color: var(--pink);
    text-transform: uppercase;

    font-weight: bolder;
  }

  &__picture {
    img { max-width: 100%; }

    position: relative;
    overflow: hidden;
  }

  &__date {
    position: absolute;

    top: 1em;
    right: 1em;

    background: var(--white);
    color: var(--pink);
  }

  &.with-border {
    @extend .news__separator;

    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;

      border-bottom: 0;
    }
  }
}

.news-sidebar {
  &__items {
    padding-left: 0;

    list-style: none;
  }
}
