// Price Box

.price-box {
  border: 2px solid var(--bs-white);

  text-transform: uppercase;

  &__title {
    font-size: 2em;
  }

  &__early-bird {
    font-size: 0.875em;
  }

  &__features {
    ul {
      padding: 0;

      list-style: none;
    }
  }

  &__register {
    padding: 0.6em 2em 0.6em 2em;

    color: var(--bs-pink);

    border-radius: 2em;
  }

  &__register.btn {
    @extend .price-box__register;
  }
}
