.agenda {
  &__label {
    text-transform: uppercase;
  }

  &__date {
    display: block;

    color: $gray-600;
    font-size: 0.75em;
  }

  &__header {
    display: none;

    &.thead-dark {
      th {
        border-right: 1px solid $white;
      }
    }

    @include media-breakpoint-up(md) {
      display: table-header-group;
    }
  }

  &__body {
    display: block;

    @include media-breakpoint-up(md) {
      display: table-row-group;
    }
  }

  &__row {
    display: block;

    @include media-breakpoint-up(md) {
      display: table-row;
    }
  }

  &__time, &__session {
    display: block;

    border-right: 1px solid $white;

    @include media-breakpoint-up(md) {
      display: table-cell;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__time {
    @include media-breakpoint-down(sm) {
      color: $white;
      background-color: $gray-800;

      text-align: center;
    }
  }

  td.agenda__session {
    border-top: 0;
  }

  &__room {
    margin: $table-cell-padding-x * -1;
    margin-bottom: $table-cell-padding-y;
    padding: $table-cell-padding-x / 2;

    background: $white;
    border: 2px solid $gray-800;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.session {
  padding-top: $table-cell-padding-y;

  border-top: $table-border-width solid $table-border-color;

  &:first-child {
    border-top: 0;
  }

  @include media-breakpoint-up(md) {
    border-top: 0;
  }

  &__badge {
    @extend .mx-2;

    font-weight: normal;

    &:last-child {
      @extend .mx-0;
    }
  }
}
