<section id="about" class="my-16">
  <div class="container mx-auto text-center">
    <%= render HeadingComponent.new(text: t('.heading')) %>
  </div>
  <div>
    <%= image_tag current_site.figure_url, class: 'w-full' %>
    <div class="container px-4 mx-auto my-8">
      <%= sanitize current_site.description || t('site_introduce') %>
    </div>
  </div>
</section>
