<section id="news" class="my-16">
  <div class="container mx-auto text-center">
    <%= render HeadingComponent.new(text: t('.heading')) %>
  </div>
  <div class="container mx-auto">
    <%= render NewsListItemComponent.with_collection(@news) %>
  </div>
</section>
