// Link
a {
  color: var(--bs-pink);
  text-decoration: none;

  &:hover {
    color: var(--bs-pink);
  }
}

.breadcrumb-item {
  text-transform: uppercase;
}

.badge-pink {
  color: var(--bs-white);
  background-color: var(--bs-pink);
}
