@import 'evento';
@import 'responsive';

// FIXME: Below are monkey patch, should fixed in next year
body {
  padding-top: 100px;
}

.mainmenu-area.stricky {
  border-bottom: none;
}

.rev_slider {
  .owl-theme {
    .owl-nav {
      width: 100%;

      position: absolute;
      top: 50%;

      transform: translateY(-50%);

      [class*=owl-] {
        width: 60px;
        height: 60px;

        position: absolute;

        padding: 10px;
        margin: 0;

        background: #FFF;

        border-radius: 0;
        box-sizing: border-box;

        box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);

        transition: all .3s;

        &:hover {
          background: rgba(255, 255, 255, .75);

          span {
            transform: scale(1.5);
          }
        }

        span {
          color: black;
          font-size: 15px;
          line-height: 40px;

          transition: all .3s;
        }
      }
    }

    .owl-prev {
      left: 0;
    }

    .owl-next {
      right: 0;
    }
  }
}

.text-holder {
  a {
    color: #ea531c;
  }
}

.pricing-plan-area .single-price-box .table-header .package h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.language-toggler {
  float: right;

  margin: 26px 0;
  padding-left:20px;
  line-height: 48px;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 80px;
  }

  .buy-ticket-button {
    display: none;
  }

  .language-toggler {
    margin: 16px 0;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  body {
    padding-top: 135px;
  }
}

.text-holder {
  ul, ol {
    padding-left: 40px;
  }

  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  li {
    list-style: inherit;
  }
}

.single-speaker-area .bottom-content .schedule .schedule-single .inner-content .right a {
  padding: 6px 15px 5px;
}

.single-speaker-area .bottom-content .schedule .schedule-single:hover .inner-content .right a {
  background: transparent;
  color: #8a8a8a;
}

.single-speaker-area .bottom-content .schedule .schedule-single .inner-content .right a:hover {
  background: #F18107;
  color: #ffffff;
}


