<%= admin_page_header t('.create'), t('.add_menu_item') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= admin_box do %>
        <%= admin_box_header title t('.create') %>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
