<%= admin_page_header t('.create'), t('.add_game') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <%= admin_box do %>
        <%= admin_box_header t('.create'), class: 'with-border' %>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>
</div>
